Use shadcn/ui components and tailwind css. Use animations.

Use lucide icons.

Use skeleton for loading states.

This is a Next.js project. Use app router. Use server side rendering if possible.

Use yarn instead of npm.

Use createClient() from src/utils/supabase/client.ts and createServerClient() from src/utils/supabase/server.ts for supabase.